mixin video(info)
    div#videoContent(data-id=info._id)
        h3
            a(href=`/videos/${info.id}`)=info.title
        video(src="/" + info.fileUrl)
        div.video__info
            small Upload By 
                a(href=`/users/${info.owner._id}`)=info.owner.username
            small #{info.createAt}
            p
                each hashtag in info.hashtags
                    span #{hashtag} &nbsp;